<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Bootstrap Table with Search Column Feature</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<style>

</style>
<script>
$(document).ready(function(){
	// Activate tooltips
	$('[data-toggle="tooltip"]').tooltip();
    
	// Filter table rows based on searched term
    $("#search").on("keyup", function() {
        var term = $(this).val().toLowerCase();
        $("table tbody tr").each(function(){
            $row = $(this);
            var name = $row.find("td:nth-child(2)").text().toLowerCase();
            console.log(name);
            if(name.search(term) < 0){                
                $row.hide();
            } else{
                $row.show();
            }
        });
    });
});
</script>
</head>
<body>
    <div class="content-wrapper">
    <div class="container-lg">
        <div class="table-responsive">
            <div class="table-wrapper">			
               <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Employee <b>Information</b></h2>
                        </div>
                        <div class="col-sm-6">
                            <div class="search-box">
                                <div class="input-group">								
                                    <input type="text" id="search" class="form-control" placeholder="Search by Name">
                                    <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-responsive table-bordered border-primary table-sm" style="background-color: white;   height:auto ;width: 1050px;">
                    <thead class="thead" >
                      <tr>
                        <th>Id No</th>
                        <th>Images</th>
                        <th>ImagesUri</th>
                        <th>User Name</th>
                        <th>Bank name</th>
                        <th>Bank account no</th>
                        <th>Date</th>
                        <th>Location</th>
                        <th>Total WorkingDays</th>
                        <th>WorkingDays</th>
                        <th>Absencen Day</th>
                        <th>Dasignation</th>
                        <th>Department</th>
                        <th ></th>
                        <th>Password</th>
                        <th>Basic_Salary</th>
                        <th>House_Rent</th>
                        <th>Medical_Allowance</th>
                        <th>Transport_Allowance</th>
                        <th>Over_Time_Rate</th>
                        <th>Salary</th>
                        
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let salary of salarys; index as i;">
                        <td>{{salary.id}}</td>
                        <td><img src={{salary.imagesUri}}></td>
                        <td>{{salary.designation}}</td>
                        <td>{{salary.fname}}</td>
                        <td>{{salary.lname}}</td>
                        <td>{{salary.department}}</td>
                       
                       
                        <td>{{salary.gender}}</td>
                        <td>{{salary.dob}}</td>
                        <td>{{salary.paddress}}</td>
                        <td>{{salary.praddress}}</td>
                        <td>{{salary.phone}}</td>
                        <td>{{salary.email}}</td>
                        <td>{{salary.password}}</td>
                        <td>{{salary.basicsalary}}</td>
                        <td>{{salary.houserent}}</td>
                        <td>{{salary.medical}}</td>
                        <td>{{salary.transport}}</td>
                        <td>{{salary.overtime}}</td>
                        <td>{{salary.salarys}}</td>
                      
                        <td>
                          <button class="btn btn-primary" (click)="editEmployee()" >Edit</button>
                          <button class="btn btn-danger" (click)="deleteEmployee()">Delete</button>
                        </td>salay
                      </tr>
                    </tbody>
            
                  </table>
            
            </div>
        </div>        
    </div> 
</div>    
</body>
</html>
