<div class="content-wrapper p-5">



<p>salary works!</p>


    <table border="1">
        <tr height="100px"
            style="background-color:#363636;color:#ffffff;text-align:center;font-size:24px; font-weight:600;">
            <td colspan='4'>Daliyaspirants.com Design Limited</td>
        </tr>
        <tr>
            <th>Personel NO:</th>
            <td>0123456</td>
            <th>Name</th>
            <td>Chandra</td>
        </tr>
        <!-----2 row--->
        <tr>
            <th>Bank</th>
            <td>x0x0x0</td>
            <th>Bank A/c No.</th>
            <td>0x2x6x25x6</td>
        </tr>
        <!------3 row---->
        <tr>
            <th>DOB</th>
            <td><input type="date"></td>
            <th>Lop Days</th>
            <td><input type="number"></td>
        </tr>
        <!------4 row---->
        <tr>
            <th>PF No.</th>
            <td><input type="number"></td>
            <th>STD days</th>
            <td><input type="number"></td>
        </tr>
        <!------5 row---->
        <tr>
            <th>Location</th>
            <td>India</td>
            <th>Working Days</th>
            <td><input type="number"></td>
        </tr>
        <!------6 row---->
        <tr>
            <th>Department</th>
            <td>IT</td>
            <th>Designation</th>
            <td>Designer</td>
        </tr>
    </table>
    <tr></tr>
    <br />
    <table border="1">
        <tr>
            <th>Earnings</th>
            <th>Amount</th>
            <th>Deductions</th>
            <th>Amount</th>
        </tr>
        <tr>
            <td>Basic</td>
            <td><input type="number"></td>
            <td>provident fund</td>
            <td><input type="number"></td>
        </tr>
        <tr>
            <td>House Rent Allowance</td>
            <td><input type="number"></td>
            <td>professional tax</td>
            <td><input type="number"></td>
        </tr>
        <tr>
            <td>special Allowance</td>
            <td><input type="number"></td>
            <td>Income tax</td>
            <td><input type="number"></td>
        </tr>
        <tr>
            <td>conveyance</td>
            <td><input type="number"></td>
        </tr>
        <tr>
            <td>ADD Special allowance</td>
            <td><input type="number"></td>
        </tr>
        <tr>
            <td>shift Allowance</td>
            <td><input type="number"></td>
        </tr>
        <tr>
            <td>bonus</td>
            <td><input type="number"></td>
        </tr>
        <tr>
            <td>medical Allowance</td>
            <td><input type="number"></td>
        </tr>
        <tr>
            <th>Gross Earnings</th>
            <td>Rs.38500</td>
            <th>Gross Deductions</th>
            <td>Rs.3000</td>
        </tr>
        <tr>
            <td></td>
            <td><strong>NET PAY</strong></td>
            <td>Rs.35500</td>
            <td></td>
        </tr>
    </table>
</div>