<div class="container">
<form action="">
    <div class="justify conten center">
        <label for="name">name</label>

    </div>
    <div>
        <input type="text" id="name"placeholder="enter your name">
    </div>
    <div>
        <label for="email">email</label>
        <input type="text" id="email"placeholder="enter your email">
    </div>
    <div>
        <label for="mobile">mobile</label>
        <input type="number" id="mobile"placeholder="enter your mobile">
    </div>
    <div>
        <label for="address">address</label>
        <input type="text" id="address"placeholder="enter your address">
    </div>
</form>
</div>