<p>attendance-information works!</p>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bootstrap Table with Search Column Feature</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>

    </style>
    <script>
        $(document).ready(function () {
            // Activate tooltips
            $('[data-toggle="tooltip"]').tooltip();

            // Filter table rows based on searched term
            $("#search").on("keyup", function () {
                var term = $(this).val().toLowerCase();
                $("table tbody tr").each(function () {
                    $row = $(this);
                    var name = $row.find("td:nth-child(2)").text().toLowerCase();
                    console.log(name);
                    if (name.search(term) < 0) {
                        $row.hide();
                    } else {
                        $row.show();
                    }
                });
            });
        });
    </script>
</head>

<body>
    <div class="content-wrapper">
        <div class="container-lg">
            <div class="table-responsive">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-6">
                                <h2>Attendence <b>Information</b></h2>
                            </div>
                            <div class="col-sm-6">
                                <div class="search-box">
                                    <div class="input-group">
                                        <input type="text" id="search" class="form-control"
                                            placeholder="Search by Name">
                                        <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-responsive table-bordered border-primary table-sm"
                        style="background-color: white;   height:auto ;width: 1050px;">
                        <thead class="thead">

                            <tr>
                                <th>Id</th>
                                <th>Working Date</th>
                                <th>Password</th>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                <th>Phone</th>
                                <th>InTime</th>
                                <th>OutTime</th>
                                <th>Late</th>
                                <th>Leave</th>
                                <th>Absence</th>
                                <th>Total Hours</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let r of records; index as i;">
                                <td>{{r.id}}</td>
                                <td>{{r.wdate}}</td>
                                <td>{{r.password}}</td>
                                <td>{{r.fname}}</td>
                                <td>{{r.lname}}</td>
                                <td>{{r.phone}}</td>
                                <td>{{r.intime}}</td>
                                <td>{{r.outtime}}</td>
                                <td>{{r.atlate}}</td>
                                <td>{{r.atleave}}</td>
                                <td>{{r.atabsence}}</td>
                                <td>{{r.totalhour}}</td>
                            </tr>
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>
</body>

</html>