<div class="content-wrapper container " style="width: 1000px; ">
  <section class="h-100 h-custom gradient-custom-2">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <form action="/action_page.php">
                <div>
               <label for=""><img src="" alt=""></label>
               <input type="datetime-local" >
              </div>

              <p>{{today | date:'fullDate'}} {{today | date:'h:mm:ss a'}}</p>


              <p>{{today | date:'y:M:d:h:mm a'}}</p>


               <div>
               <label for="">enter your password </label>
               </div>
               <div>
               <input type="text">
              </div>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>