<div class="content-wrapper container " style="width: 1000px; ">
  <section class="h-100 h-custom gradient-custom-2">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <form (ngSubmit)=" loginEmployee()">
                <div class="row justify-content-center mt-3 text-black  " style="background-color: rgb(222, 237, 238);margin-left: .5px; margin-right: .5px;" >
              <h1><b>Attendence Record</b></h1>
              </div>
              <div>
                <h1>
              <p>{{today | date:'fullDate'}} <br><h1 class="row justify-content-center"><b>{{today | date:'h:mm:ss a'}}</b></h1></p>
            </h1>
            </div>
               <div>
               <label for="password">enter your password </label>
               </div>
               <div>
               <input type ="password" name="password" [(ngModel)]="att.password">
              </div> 
              <div>           
              <button type="submit" class="btn btn-info mt-3" >login</button>
              <button type="button" class="btn btn-info mt-3 ml-8">logout</button>
             
            </div>
           
              </form>
           
              <div class="container mt-4">
              <div class="">
              <form (ngSubmit)="attendanceSave()">
                <div class="container justify-content-center">
                    <img src="{emp.imagesUri}" alt="">
                </div>

                <div >
                 
                  <label for="id">Id Card No :</label>
                  <input name="id" id="id" [(ngModel)]="att.id" type="number" class="ml-2">
                  <label for="wdate" class="ml-2">Date :</label>
                  <input type="date" class="ml-2"  name="wdate" [(ngModel)]="att.id" >
                </div>
                <div class="mt-4">
                <label for="fname">First Name  :</label>
                <input type="text" class="ml-2"  name="fname" [(ngModel)]="att.fname">
                <label for="lname" class="ml-4">Last Name  :</label>
                <input type="text" class="ml-2" name="lname" [(ngModel)]="att.lname">
                <label for="phone" class="ml-4">Mobile  :</label>
                <input type="number" class="ml-2" name="phone" [(ngModel)]="att.phone">
              </div>
             
              <div class="mt-4">
                <label for="intime">InTime :</label>
                <input type="time" class="ml-2" name="intime" [(ngModel)]="att.intime">
                <label for="outtime" class="ml-4">OutTime :</label>
               
                <input type="time" class="ml-2" name="outtime" [(ngModel)]="att.outtime">
                <label for="" class="ml-4">Working Hour  :</label>
                <input type="number" class="ml-2" name="fname" [(ngModel)]="att.fname">
                </div>
                <div class="mt-3">
                <label for="atlate" class="ml-2">Late :</label>
                <input type="checkbox" class="ml-2"  name="atlate" [(ngModel)]="att.atlate">
                <label for="atleave" class="ml-4">Leave :</label>
                <input type="checkbox" class="ml-2"  name="atleave"[(ngModel)]="att.atleave"/>
                <label for="atabsence" class="ml-4">Absence :</label>
                <input type="checkbox" class="ml-2"  name="atabsence"[(ngModel)]="att.atabsence"/>
               
              </div>
              <button type="submit">submit</button>
              </form>
            </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    
  </section>

</div>


  <!-- Modal -->

